@model WebApplication1.Models.ViewModels.TipoDepartamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoDepartamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoDepartamentoNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDepartamentoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDepartamentoDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDepartamentoDesc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoDepartamentoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
