<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@                    
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Solicitudes", "Index", "Solicitud")</li>
                        <li>@Html.ActionLink("Ordenes", "Index", "Orden")</li>
                        @*<li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
                        <li>@Html.ActionLink("Empleados", "Index", "Empleado")</li>
                        <li>@Html.ActionLink("Prospectos", "Index", "Prospecto")</li>*@
                        @*<li>@Html.ActionLink("Cuentas", "Index", "Cuenta")</li>*@
                        <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                    }
                    @*Agregado Ini-(SECURITY)*@
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Roles-Admin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("Users-Admin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Perfiles", "Index", "Perfil")</li>
                        <li>@Html.ActionLink("Auditoria", "Index", "ActionLog")</li>
                    }
                    @*Agregado Fin-(SECURITY)*@
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
