@using WebApplication1.Models.ViewModels
@model WebApplication1.Models.ViewModels.Orden

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Orden</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SolicitudID, "SolicitudID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("SolicitudID", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.Raw(ViewBag.SolicitudID)
            @Html.HiddenFor(model => model.SolicitudID)
            @Html.ValidationMessageFor(model => model.SolicitudID, "", new { @class = "text-danger" })
        </div>
    </div>  

    <hr />
    <h4>Orden Detalle: Líneas de la Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Seleccionar Proveedor por producto
        </dt>
        <dd>
            @*<p>
                    @Html.ActionLink("Create New", "Create", "LineaSolicitud", new { solicitudID = Model.SolicitudID }, null) |
                </p>*@
            <table class="table">
                <tr>
                    <th>Numero</th>
                    <th>Producto</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Monto</th>
                    <th>Proveedor ID</th>
                    <th>Proveedor Nombre</th>
                </tr>
                @{
                    List<LineaSolicitud> LineasOrden = ViewBag.LineasOrden;
                    if (LineasOrden != null)
                    {
                        foreach (var item in LineasOrden)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineaSolicitudNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineaSolicitud_Producto.ProductoDesc)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineaSolicitud_Producto.ProductoPrecio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineaSolicitudCantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineaSolicitudMonto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SolicitudProveedorID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SolicitudProveedorNombre)
                                </td>
                                <td>
                                    @Html.ActionLink("Agregar Proveedor", "Edit", "LineaSolicitud", new { id = item.LineaSolicitudID, solicitudID = ViewBag.SolicitudID, Controladora = "Orden" }, null) |
                                    @Html.ActionLink("Detalle", "Details", "LineaSolicitud", new { id = item.LineaSolicitudID, solicitudID = ViewBag.SolicitudID }, null) |
                                    @Html.ActionLink("Crear Orden", "Create", "Orden", new { idSolicitud = ViewBag.SolicitudID }, null)
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </dd>
    </dl>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
