@model IEnumerable<WebApplication1.Models.ViewModels.Sucursal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sucursal_Empresa.EmpresaNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SucursalNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SucursalDireccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursal_Empresa.EmpresaNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SucursalNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SucursalDireccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SucursalID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SucursalID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SucursalID })
        </td>
    </tr>
}

</table>
