@using WebApplication1.HtmlHelperExtensions;
@model WebApplication1.Models.ViewModels.Tarea

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Tarea</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TareaID)

    <div class="form-group">
        @Html.LabelFor(model => model.TareaDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.TareaDescripcion, htmlAttributes: new { @class = "form-control" }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.TareaDescripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaDescripcion2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TareaDescripcion2, new { htmlAttributes = new { @class = "form-control" } }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.TareaDescripcion2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaTipo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.TareaTipo, htmlAttributes: new { @class = "form-control" }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.TareaTipo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaModulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.TareaModulo, htmlAttributes: new { @class = "form-control" }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.TareaModulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaFechaIni, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TareaFechaIni, new { htmlAttributes = new { @class = "form-control" } }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.TareaFechaIni, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaFechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TareaFechaFin, new { htmlAttributes = new { @class = "form-control" } }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.TareaFechaFin, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaFechaIniReal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TareaFechaIniReal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TareaFechaIniReal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaFechaFinReal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TareaFechaFinReal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TareaFechaFinReal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmpleadoID, "EmpleadoID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EmpleadoID", null, htmlAttributes: new { @class = "form-control" }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.EmpleadoID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SolicitudID, "SolicitudID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SolicitudID", null, htmlAttributes: new { @class = "form-control" }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.SolicitudID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrdenID, "OrdenID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("OrdenID", null, htmlAttributes: new { @class = "form-control" }).DisableIf(() => Request.IsAuthenticated && !User.IsInRole("Admin"))
            @Html.ValidationMessageFor(model => model.OrdenID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TareaIsDone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TareaIsDone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TareaIsDone, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.TareaEstado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TareaEstado, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TareaEstado, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
