@model WebApplication1.Models.Perfil

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Perfil_Accion.AccionNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil_Accion.AccionNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil_Controladora.ControladoraNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil_Controladora.ControladoraNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfil_Rol.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfil_Rol.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerfilDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfilDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerfilInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfilInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerfilOwerRequerido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfilOwerRequerido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
