@model WebApplication1.Models.ViewModels.LineaSolicitud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LineaSolicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LineaSolicitud_Producto.ProductoDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaSolicitud_Producto.ProductoDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaSolicitud_Solicitud.SolicitudDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaSolicitud_Solicitud.SolicitudDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaSolicitudNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaSolicitudNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaSolicitudPUprod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaSolicitudPUprod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaSolicitudCantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaSolicitudCantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaSolicitudMoneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaSolicitudMoneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaSolicitudMonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaSolicitudMonto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LineaSolicitudID }) |
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Vovler a la Solicitud", "Edit", "Solicitud", new { id = ViewBag.SolicitudID }, null)
</p>
